  h1 {
    font-family: NanumSquareWeb, sans-serif;
  }
;
/* reset */
body, html, header, h1 {
    padding:0;
    margin:0;
    font-family: NanumSquareWeb, sans-serif;
}

section {
    background: radial-gradient(#0070d1, #002152);
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 25rem;
    font-weight: 800;
    background: url(image/ocean.jpg);
    background-position: top;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text: text;
    -webkit-text-fill-color: transparent;
    animation: bg 5s infinite;
}

h2{
    font-weight:900;
}

p {
    text-align: center;
}

ul {
    list-style: none;
}
li {
    float: left;
    margin-right:30px;
}

a{text-decoration: none; color:black}
a:hover{color:white;}

.last{
    margin-left:50px;
}
.mid{
    margin-top:50px;
}

@keyframes bg{
    0%{
        background-position: left 0px center 0px;
    }
    50%{
        background-position: left 0px top -0px;
    }
    100%{
        background-position: left 0px center 0px;
    }
}

.info {
    text-align: center;
    top: 20%;
    right: 40.5%;
    float: left;
    background: url(image/sky.jpg);
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text: text;
    -webkit-text-fill-color: transparent;
    animation: bg 5s infinite;
    position: absolute;
    border-right: white thin solid;
    padding-right: 20px;
}
.work {
    text-align: center;
    position: absolute;
    top: 20%;
    right: 28%;
    float: left;
    background: url(image/sky.jpg);
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text: text;
    -webkit-text-fill-color: transparent;
    animation: bg 5s infinite;
    position: absolute;
    border-right: white thin solid;
    padding-right: 20px;
}
.contact {
    text-align: center;
    position: absolute;
    top: 20%;
    right: 18%;
    float:left;
    background: url(image/sky.jpg);
    background-position: center;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text: text;
    -webkit-text-fill-color: transparent;
    animation: bg 5s infinite;
    position: absolute;
}